---
---

@import "minima";

.social-media-list {
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem;
}

.social-media-list li {
  display: inline-block;
  padding-top: 1px !important;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

.pagination a {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

.pagination span {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

.pagination span.previous,
.pagination span.next {
  color: #999;
}

.rss-link {
  display: inline-block;
  margin-left: 0.2rem;
  line-height: 54px;
}

.rss-link .svg-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  padding-bottom: 1.3em;
}
